{% extends "layout.njk" %}

{% block title%}
    <title>Receitas</title>
{% endblock %}

{% block content %}
    <div class="receitas">
       <div class="cards-receitas">
           {% for receita in receitas %}
                <div class="card" id="{{receita.id}}">
                    <img src="{{receita.image}}" alt="Imagem de {{receita.title}}">
                    <p class="nome-receita">{{receita.title}}</p>
                    <p class="autor-receita">{{receita.author}}</p>
                </div>
            {% endfor %}
        
        </div>
    </div>
{% endblock %}

{% block footer%}
    <footer>
        <p class="texto-footer">Todos direitos reservados, receitas Foodfy.</p>
    </footer>

    <!--div class="modal-overlay">
        <div class="modal">
            <img src="" alt="">
            <div class="texto-modal">
                <p class="nome-receita"></p>
                <p class="autor-receita"></p>
                <p class="fechar-modal">Fechar modal</p>
            </div>
        </div>
    </div-->

    <script src="script.js"></script>
{% endblock %}
