{% extends "layout.njk" %}

{% block title%}
    <title>{{item.title}}</title>
{% endblock %}

{% block content %}
    <div class="recipe-image">
        <img src="{{item.image}}" alt="Imagem de {{item.title}}">
    </div>
    <div class="pageRecipe">
        <div class="recipe-infos">
            <p clas="recipe-title">{{item.title}}</p>
            <p clas="recipe-author">{{item.author}}</p>
        </div>

        <div class="recipe-ingredients">
            <p class="title-ingredientes">Ingredientes</p>
            <ul class="ingredients">
                {% for ingredient in item.ingredients %}
                    <li>{{ingredient}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="recipe-preparation">
            <p class="title-preparation">Modo de Preparo</p>
            {% for preparationItem in item.preparation %}
                <p>{{preparationItem}}</p>
            {% endfor %}
        </div>

        <div class="recipe-information">
            <p class="title-preparation">Informações adicionais</p>
            <p>{{item.information}}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <p class="texto-footer">Todos direitos reservados, receitas Foodfy.</p>
    </footer>
{% endblock %}